@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(font/Lato-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(font/Lato-Black.woff) format('woff');
}

html, body {
    font-family: 'Lucida Sans Unicode',  'Lucida Grande', 'Lucida Sans', 'Lato', sans-serif; !important;
}

.x-html {
	color: #777776;
}

/* LOADING MASK */
.x-mask .x-mask-inner {
	background-color: #777776 !important;
}

/* FIX FOR BROKEN SPINNER IN LOAD MASK IN IOS 9 */
@keyframes x-loading-spinner-rotate{0%{transform:rotate(0deg)}8.32%{transform:rotate(0deg)}8.33%{transform:rotate(30deg)}16.65%{transform:rotate(30deg)}16.66%{transform:rotate(60deg)}24.99%{transform:rotate(60deg)}25%{transform:rotate(90deg)}33.32%{transform:rotate(90deg)}33.33%{transform:rotate(120deg)}41.65%{transform:rotate(120deg)}41.66%{transform:rotate(150deg)}49.99%{transform:rotate(150deg)}50%{transform:rotate(180deg)}58.32%{transform:rotate(180deg)}58.33%{transform:rotate(210deg)}66.65%{transform:rotate(210deg)}66.66%{transform:rotate(240deg)}74.99%{transform:rotate(240deg)}75%{transform:rotate(270deg)}83.32%{transform:rotate(270deg)}83.33%{transform:rotate(300deg)}91.65%{transform:rotate(300deg)}91.66%{transform:rotate(330deg)}100%{transform:rotate(330deg)}}


/* TOOLBAR (TOP) */
.x-toolbar.x-docked-top {
	-moz-border-radius-topleft: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}


/* DICTIONARY ENTRY BUTTON */
div#dictionaryEntryButton.x-button-normal.x-button.x-stretched.dictionaryEntryButton.x-layout-box-item.x-iconalign-left {
	border: 1px solid white !important;
	background-color: white !important;
	padding: 0 0.3em !important;
	margin-right: 10px !important;
	height: 1.6em !important;
}

div#dictionaryEntryButton.x-button-normal .x-button-label {
	color:#6185c4 !important;
	font-size: 0.7em !important;
}

.toolbarButtonPressed {
    background-color: #ea8816 !important;
}

.plusSignIcon {
    background-image:url('images/add.png') !important;
    background-size: 18px 18px !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
    width: 18px !important;
    height: 18px !important;
}


/* SEARCH BOX */
.x-field-input {
	border: none !important;
}

.x-toolbar .x-field .x-component-outer {
	padding:.4em .6em .4em !important;
}

.dictionarySearchField {
    position: relative !important;
    float: left !important;
    width: 100% !important;
    margin: 0 3px 0 0 !important;
}


/* LANGUAGE TOGGLE BUTTONS */
.dictionaryToolBar {
    padding-right: 80px !important;
}

div#iwaDictionaryButtonId1.x-button.x-button-round.x-stretched.iwaDictionaryButton.x-layout-box-item, div#engDictionaryButtonId1.x-button.x-button-round.x-stretched.engDictionaryButton.x-layout-box-item {
	background-color: white !important;
	border: solid 1px white !important;
}

.x-button-round .x-button-label {
	color: #6185c4 !important;
}

.engDictionaryButton, .iwaDictionaryButton {
	width: 26px !important;
    position: relative !important;
    float: right !important;
}

.iwaDictionaryButton .x-button-label, .engDictionaryButton .x-button-label {
	overflow: visible !important;
	margin: -2px 0 0 -2px !important;
	font-size: 0.7em !important;
}

/* toggle button off */
div#engDictionaryButtonId1.x-button-round.x-button.x-stretched.engDictionaryButton.x-layout-box-item.toggleButtonOff, div#iwaDictionaryButtonId1.x-button.x-button-round.x-stretched.iwaDictionaryButton.x-layout-box-item.toggleButtonOff {
	background-color: #6185c4 !important;
	
}

div#engDictionaryButtonId1.x-button-round.x-button.x-stretched.engDictionaryButton.x-layout-box-item.toggleButtonOff .x-button-label, div#iwaDictionaryButtonId1.x-button.x-button-round.x-stretched.iwaDictionaryButton.x-layout-box-item.toggleButtonOff .x-button-label{
	color: white !important;
}


/* BACK BUTTON */
.x-button.x-button-back .x-button-label {
	display: none !important;	
}


/* TAB BAR (BOTTOM) */
.x-tabbar {
	background-color: #6185c4 !important;
	border-top: none !important;
	height: 60px !important;
}

.x-tab, .x-tab-normal { 
    width: 33% !important;
	margin: 0 !important;
}

.dictionarytab, .informationtab, .pictionarytab {
	background-color: white !important;
    background-repeat:no-repeat !important;
    background-position:center !important; 
    background-size:40px 30px !important;
    width: 40px !important;
	height: 30px !important;
}

.dictionarytab {
	background-image:url('images/Dictionary.png') !important;
}

.pictionarytab {
	background-image:url('images/Pictionary.png') !important;
}

/* information tab */
.informationtab {
	background-image:url('images/Information.png') !important;
}

.x-tab .x-button-label {
	color: white !important;
	line-height: normal !important;	
}

.x-tab-active {
	background: none !important;	
}

.x-tab.x-tab-active .dictionarytab, .x-tab.x-tab-active .pictionarytab, .x-tab.x-tab-active .informationtab {
	background-color: #9fb0ce !important;
}

.x-tab-active .x-button-label {
	color: #9fb0ce !important;
}

/* logo button on tab bar */ 
.logoButton{
    width: 34% !important;
    height: 2.9em !important;
    border:none !important;
    overflow: visible !important;
    display: block !important;
    padding-top: 2px !important;
    background-image: none !important;
    background-color: #6185c4 !important;
    background-repeat:no-repeat !important;
    background-position:center !important; 
}


.logoButton .x-button-icon{
	background-color: white !important;
    background-repeat:no-repeat !important;
    background-position:center !important; 
    background-size:40px 30px !important;
    width: 40px !important;
	height: 30px !important;
    display: block !important;
	margin: 0 auto !important;
}

.x-layout-box>.x-layout-box-item.logoButton {
display: block !important;
}


/* DICTIONARY LIST */
.x-list .x-list-item.x-list-item-tpl::before {
	left: 0px !important;	
}


/* DICTIONARY LIST ITEM */
.x-list .x-list-item {
	font-size: 1.2em !important;
}

.x-list .x-list-disclosure {
	margin-top: 22px !important;	
}

/* increase hit area on disclosure arrow */
.x-list .x-list-disclosure {
	width: 30px !important;
	height: 30px !important;
}

.audioIcon {
	display: block !important;
	float: left !important;
	width: 24px !important;
	margin-right: 8px !important;
}

.audioIcon img {
    float: left;
	width: 24px !important;
}

.dictListDefinition {
	display: block !important;
	float: left !important;
}

 .dictListDefinition {
	width: 70% !important;
}

.dictlistfirstline, .dictListTargetWord {
    white-space: nowrap !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
}


/* DICTIONARY DETAIL VIEW */
.dictionarySpeakerButton {
	width: 24px !important;
	margin-right: 8px !important;
	top: -2px !important;
}

.dictionarySpeakerButton img {
    float: left;
	width: 24px !important;
}

.contributionStatus, .moderatorComments {
	color: red;
}

/*
.dictionarydetailheader {
    min-height: 75px;
    margin-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
}
 

.dictionaryDetail {
    line-height: normal;
    margin-left: 6px;
    margin-right: 6px;
}
*/

sup {
    font-size: 0.5em;
}

.x-img.x-img-image img {
	width: 100% !important;
	height: auto !important;
}

.dictImageThumb {
    float: left;
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding-right: 0;
    border: 0px;
    width: 65px;
    height: 65px;
}

/* scale image so that is approx 480:320 ie. 1.5 times bigger than original image so
 portrait and landscape images take up full thumb.*/
.dictImageThumb img {
    width: 100px;
    margin-left: -17px;
    margin-top: -17px;
}

.dictImageThumb div{
	position:absolute;
	clip:rect(0px,65px,65px,0px);
}

.dictDetailHeadline {
    min-height: 2.0em;
    line-height: normal;
}

.dictDetailViewDetailEntry {
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 6px;
}

.dictionaryDetail, .dictDetailTargetWord {
	font-size: 1.5em;
}

.EntryParagraph {
    padding-top: 1.5em;
}

.clear {
    clear:both;
}


.Lexeme {   
    font-weight: 900;
}

.Partofspeech {
    font-style: italic;
}

.Examplev, .fvernacular {
    font-weight: 900;
}



/* DICTIONARY FORM VIEW */
.x-form-fieldset .x-form-fieldset-inner {
	border: none !important;	
}

.soundrecordercontainer {
	border-bottom:1px solid #000 !important;
	margin:0px -20px 20px !important;
	padding: 10px 20px !important;
}

.audioRecordButtonCls, .audioStopButtonCls, .audioPlayButtonCls, .recordButtonCls, .stopButtonCls, .playButtonCls {
    width: 40px !important;
    height: 40px !important;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-color:  transparent !important;
    border: none !important;
    background-position:center; 
}

.audioRecordButtonCls, .recordButtonCls {
    background-image: url('images/record.png') !important;
}

/* disabled record button */
.audioRecordButtonCls.x-item-disabled, .recordButtonCls.x-item-disabled {
    background-image: url('images/record-disabled.png') !important;
}

.audioStopButtonCls, .stopButtonCls {
    background-image: url('images/stop.png') !important;
}

.audioPlayButtonCls, .playButtonCls {
    background-image: url('images/play.png') !important;
}

/* photo button, and photo source select buttons */
.x-button-round#addImageButton, div.x-button.x-button-round.x-sized.addImageButtonCls.x-layout-box-item, .x-button-normal#choosePhotoButton, .x-button-normal#takePhotoButton {
	border-color: #808284 !important;
}

.x-button-round#addImageButton {
	padding: 0;
}

/* labels for photo button and photo source selct buttons */
.x-button-round .x-button-label, .x-button-normal .x-button-label {
	color: #808284 !important;
}

/* get rid of side padding */
div.x-button.x-button-round.x-sized.addImageButtonCls.x-layout-box-item {
    padding: 0;	
}

/* Make spn thgat holds image full stretch */
div.x-button.x-button-round.x-sized.addImageButtonCls.x-layout-box-item span.x-button-label {
	width: 100%;
	height: 100%;	
}

div.x-button.x-button-round.x-sized.addImageButtonCls.x-layout-box-item span.x-button-label span.textLabel {
	position: relative;
	top: 20%;	
}

div.addPhotoButtonHolder {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);	
}

/* image holder */
.addPhotoButtonHolder
{
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	height: 100%;
	border:0 !important;
	overflow: hidden !important;
}


.deletecontainer {
	border-top:1px solid #000 !important;
	margin:15px -20px 20px !important;
	padding: 15px 20px !important;
}


.metadatacontainer {
	border-top:1px solid #000 !important;
	margin:15px -20px 20px !important;
	padding: 15px 20px !important;
}


/* Expand hit area for button */
div.dicMetadataButton.x-button-normal.x-button.x-layout-box-item.x-stretched, div.speakerButton.x-button-normal.x-button.x-layout-box-item.x-stretched {
	width: 50px !important;
	height: 40px !important;
	top: -10px !important;
}

/* metadata button */
.dicMetadataButton::before, .speakerButton::before {
	position: absolute;
	top: 5px;
	right: -5px;
	bottom: 0;
	left: 0;
	content: '!';
	font-family: 'iOS7';
	color: #ccc;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
	line-height: 26px;
	padding-left: 2px;
}


/* METADATA FORM */
.x-field .x-input-el {
	border:1px solid #808284;
}
.x-form-fieldset .x-field::before {
	border-bottom: none !important;	
}
.metadataFieldset {
	border-bottom:1px solid #000 !important;
	margin:0px -20px 20px -24px !important;
	padding: 10px 20px !important;
}
.x-input-radio:checked + .x-field-mask::after {
	color: #808284 !important;
}
/* allow disabled fields to be visible */
.x-item-disabled input, .x-item-disabled .x-input-el {
	color: #808284;	
	opacity: 0.8 !important;
}


/* INFORMATION LIST */
.infocontainer .x-html {
    /*font-size: 1.2em !important;*/
}
.infolistview .x-container .x-list-item .x-stretched {
    padding-top: 5px;
    padding-bottom: 5px;
}
.infolisticon {
    float: left;
}
.infolisticon img {
    margin: 10px 10px 0px 5px;
    width: 40px;
    height: 30px;
}
.infolisttitle {
    margin-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 120%;
}
.soundURL {
    color: #e58200;
}



/* Header at top of info page */
.header {
    font-weight: 900;
    margin-bottom: 1em;
}

/* titles within info page */
.infotitle {
    font-weight: 900;
    margin-bottom: -0.25px !important;
}

.infosection {
    margin: 6px 7px;
    line-height: 120%;
    letter-spacing: 0em;
    font-size: 1.2em !important;
}

.infosection p {
    margin-top: 0.5em !important;
    margin-bottom: 0.75em !important;
}

/* speace between title in page and paragraph text below it */
.infosection .infotitle p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/* How to use this app section */
.partofspeechabrev {
	float: left;
	width: 80px;
}

.partofspeechdesc {
    margin-left: 80px;
}

/* Reducing your language footprint section */
.languagemap img {
    width: 100%;
    max-width:787px;
}